

body{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin-top: 150px;

}

.container{
    display: flex;
    flex-flow: column;
}

.row{
     display: flex;
}

button,input{
   flex: 1;
   padding: 1em;
   background-color: black;
   color: #40bad5;
   border: 1px solid rgb(24, 23, 23);
   outline: none;
   transition: all .5s;
   font-size: 1.5rem;
}

input{
    background-color: #b2ebf2;
}
